nav{
    display: flex;
    border-bottom: 2px solid rgb(208, 193, 193) ;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    /* margin-left: 2rem; */
    z-index: 999;
}

input{
    padding: 12px 20px;
    border: none;
    background: rgb(208, 193, 193) ;;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
}

.navbar_icons{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
}
